.pageTitle {
  font-weight: bold;
  font-size: 30px;
}

.pageCreatedAt {
  font-size: 18px;
  margin-bottom: 4%;
  span {
    margin-left: 1%;
  }
}

.pageContainer {
  max-width: 820px;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 0.1em;
}
