.articleTitle {
  text-decoration: 'none';
  color: rgb(3,111,185);
  font-weight: bold;
  font-size: 30px;
}

.description {
  width: 60%;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
}

.articleContent {
  margin-bottom: 3%;
}

.articleCreatedAt {
  font-size: 15px;
}
